* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.menu a {
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  color: black;
  text-transform: uppercase;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #ffffff;
  padding: 40px;
  text-align: right;
}

.detalhe {
  width: 60px;
  height: 4px;
  background: #4caf50;
  display: inline-block;
}

.botao {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 15px 15px;
  border-radius: 10px;
  text-transform: uppercase;
}
